{include file="public/header" /}

	<div id="content">
	<div class="container-fluid">
	<div class="row-fluid">
	<div class="span6">
      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">添加新产品</font></font></h5>
        </div>
        <div class="widget-content nopadding">
          <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
            <div class="control-group">
              <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">产品名称 ：</font></font></label>
              <div class="controls">
                <input type="text" name="title" value="{$info.title}" class="span11" placeholder="产品名称">
              </div>
            </div>
			
            <div class="control-group">
              <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">产品价格 ：</font></font></label>
              <div class="controls">
                <input type="text" name="price" value="{$info.price}" class="span11" placeholder="产品价格">
              </div>
            </div>
			
			<div class="control-group">
              <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">产品描述 ：</font></font></label>
              <div class="controls">
                <input type="text" name="des" value="{$info.des}" class="span11" placeholder="产品价格">
              </div>
            </div>
			
			<div class="control-group">
              <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">产品首图</font></font></label>
              <div class="controls">
                <input type="file" name="banner" class="span11" placeholder="产品首图">
				<input type="hidden" name="banner" value="{$info.banner}">
				{eq name="$info.banner" value=""}
				<img src="zwt.jpg" style="width:100px" />
				{else/}
				<img src="__ROOT__/uploads/{$info.banner}" style="width:100px" />
				{/eq}
              </div>
            </div>
			
			<div class="control-group">
              <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">产品详情</font></font></label>
              <div class="controls">
                <input type="file" name="content" class="span11" placeholder="产品详情">
				<input type="hidden" name="content" value="{$info.content}">
				{eq name="$info.content" value=""}
				<img src="zwt.jpg" style="width:300px" />
				{else/}
				<img src="__ROOT__/uploads/{$info.content}" style="width:300px" />
				{/eq}
              </div>
            </div>
            <div class="form-actions">
              <button type="submit" class="btn btn-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">保存</font></font></button>
            </div>
          </form>
        </div>
      </div>
      
      
    </div>
	</div>
	</div>
	</div>
<script src="js/excanvas.min.js"></script> 
<script src="js/jquery.min.js"></script> 
<script src="js/jquery.ui.custom.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.flot.min.js"></script> 
<script src="js/jquery.flot.resize.min.js"></script> 
<script src="js/jquery.peity.min.js"></script> 
<script src="js/fullcalendar.min.js"></script> 
<script src="js/matrix.js"></script> 
<script src="js/matrix.dashboard.js"></script> 
<script src="js/jquery.gritter.min.js"></script> 
<script src="js/matrix.chat.js"></script> 
<script src="js/jquery.validate.js"></script> 
<script src="js/matrix.form_validation.js"></script> 
<script src="js/jquery.wizard.js"></script> 
<script src="js/jquery.uniform.js"></script> 
<script src="js/select2.min.js"></script> 
<script src="js/matrix.popover.js"></script> 
<script src="js/jquery.dataTables.min.js"></script> 
<script src="js/matrix.tables.js"></script> 
</body>
</html>
