{include file="public/header" /}

	<div id="content">
	<div class="container-fluid">
	<div class="row-fluid">
	<div class="span12">
      <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">用户</font></font></h5>
            <a ><span class="label label-info"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font></span> </div></a>
          <div class="widget-content nopadding">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
				  <th style="width:40px"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">序号</font></font></th>
                  <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">头像</font></font></th>
                  <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">微信昵称</font></font></th>
                  <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">客户名称</font></font></th>
				  <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">客户手机</font></font></th>
				  <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">代理角色</font></font></th>
				  <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">用户角色</font></font></th>
				  <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">审核状态</font></font></th>
				  <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">注册时间</font></font></th>
				  <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">操作</font></font></th>
                </tr>
              </thead>
              <tbody>
				{volist name="list" id="vo"}
                <tr>
				  <td style="text-align:center;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{$vo.id}</font></font></td>
                  <td style="text-align:center;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{$vo.img}</font></font></td>
                  <td style="text-align:center;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{$vo.wxname}</font></font></td>
				  <td style="text-align:center;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{$vo.username}</font></font></td>
				  <td style="text-align:center;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{$vo.phone}</font></font></td>
				  <td style="text-align:center;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{$vo.name}</font></font></td>
				  <td style="text-align:center;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{eq name="vo.type" value="1"}<span style="color:red">平台管理员</span>{else/}<span style="color:green">客户</span>{/eq}</font></font></td>
				  <td style="text-align:center;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
						{switch name="vo.static" }
							{case value="0" break="1"}<span style="color:red">拒绝</span>{/case}
							{case value="1" break="1"}<span style="color:green">通过</span>{/case}
							{case value="2" break="1"}<span style="color:blue">审核中</span>{/case}
							{case value="3" break="1"}<span style="color:#333">未审核</span>{/case}
						{/switch}
				  </font></font></td>
                  <td style="text-align:center;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{$vo.create_time}</font></font></td>
				  <td style="text-align:center;">
					<a href="{:url('User/edit',['id'=>$vo.id])}"><button class="btn btn-primary btn-mini"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">修改</font></font></button></a>
					&nbsp;&nbsp;
					<a href="{:url('User/del',['id'=>$vo.id])}"><button class="btn btn-danger btn-mini"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">删除</font></font></button></a>
				  </td>
                </tr>
                {/volist}
              </tbody>
            </table>
          </div>
			{eq name="list" value=""}
			{else /}
				<div  class="list-page">{$list->render()}<p>共{$list->total()}条 {$list->currentPage()}/{$list->lastPage()} 页</p></div>
			{/eq}
		  </div>
      
      
    </div>
	</div>
	</div>
	</div>
<script src="js/excanvas.min.js"></script> 
<script src="js/jquery.min.js"></script> 
<script src="js/jquery.ui.custom.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.flot.min.js"></script> 
<script src="js/jquery.flot.resize.min.js"></script> 
<script src="js/jquery.peity.min.js"></script> 
<script src="js/fullcalendar.min.js"></script> 
<script src="js/matrix.js"></script> 
<script src="js/matrix.dashboard.js"></script> 
<script src="js/jquery.gritter.min.js"></script> 
<script src="js/matrix.chat.js"></script> 
<script src="js/jquery.validate.js"></script> 
<script src="js/matrix.form_validation.js"></script> 
<script src="js/jquery.wizard.js"></script> 
<script src="js/jquery.uniform.js"></script> 
<script src="js/select2.min.js"></script> 
<script src="js/matrix.popover.js"></script> 
<script src="js/jquery.dataTables.min.js"></script> 
<script src="js/matrix.tables.js"></script> 
</body>
</html>
